<div>
  <footer class="bg-white mt-20">
    <div class="max-w-7xl mx-auto py-8">
      <div class="grid grid-cols-1 sm:grid-cols-3 justify-items-center pb-8 list-none">
        <li class="mb-4 sm:mb-0 hover:uppercase"><a href="#">Om</a></li>
        <li class="mb-4 sm:mb-0 hover:uppercase"><a href="#">Cookiepolitik</a></li>
        <li class="mb-4 sm:mb-0 hover:uppercase"><a href="#">Kundeservice</a></li>

      </div>
      <div class="flex justify-center uppercase">
        <p>© <strong>Københavnerbilleder</strong> af Sten Simons</p>
      </div>
    </div>
  </footer>
</div>
